.league-sync, #sync-creation, .scrape-credentials {
  position: relative;
  background: white;
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin-bottom: 15px;
}

.guru-sports-data-section {
  position: relative;
  .title {
    display: flex;
    margin: 0 0 10px 0;
    h3 {
      margin: 0;
    }
    .response-creation, .response {
      margin-left: 20px;
      color: green;
    }
  }
}

.guru-loading {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.4);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  &:before {
    content: "Loading...";
    display: flex;
    top: 0;
    left: 0;
    color: white;
    right: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.datepickers_block {
  margin-bottom: 5px;
  display: none;
}
.league_select_block, .season_select_block {
  margin-bottom: 5px;
}

#saveSync {
  display: none;
}

.active-syncs {
  background: white;
  border: 1px solid #e5e5e5;
  padding: 10px;
  position: relative;
}
