.home .euro-2020-widget-wrapper {
  margin: 0;
}

.euro-2020-widget-wrapper {
  background: #388496;
  color: #FFF;
  padding: 10px;
  margin: 0 0 20px;
  text-align: center;

  .container {
    width: 98%;
    max-width: 100%; 

    @media (max-width: 1024px) {
      width: 100%;
      padding: 0;
    }
  }

  .widget-title {
    font-size: 29px;
    font-family: Source Sans Pro;
    font-weight: 700;
    padding: 10px 0;
    margin: 0 0 10px;
    text-align: center;

    span {
      display: inline-block;
      vertical-align: middle;
      text-align: left;

      @media (max-width: 1024px) {
        text-align: center;
        line-height: 1;
      }

      br {
        display: none;

        @media (max-width: 1200px) {
          display: block;
        }
      }
    }

    img {
      max-width: 50px;
      margin: 0 5px 0 0;
    }
  }

  .open-accepted-navigation {
    text-align: center;
    background: #FFF;
    color: #000;
    padding: 30px 15px;
    font-size: 18px;

    .title {
      font-weight: bold;
    }

    .button {
      margin:  15px 0 0;
      border-radius: 6px;
      padding: 15px;
      font-weight: bold;
      color: #DF4123;
      border: 1px solid #DF4123;

      span {
        vertical-align: middle;
      }

      i {
        vertical-align: middle;
        margin: 0 0 0 5px;
      }
    }
  }

  .free-bet-offer {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 32%;
    margin: 0 0 10px;
    background: #FFFF;
    min-height: 195px;
    padding: 10px 15px 15px;

    @media (max-width: 1200px) {
      width: 100%;
      margin: 0 0 20px;
    }

    @media (max-width: 1024px) {
      margin: 0;
    }

    &.accepted {
      min-height: 322px;
    }

    a {
      color: #FFF;
    }

    a:link,
    a:hover,
    a:link:hover,
    a:focus {
      text-decoration: none;
      color: #FFF;
    }

    .free-bet-logo {
      text-align: center;
      margin: 20x 0;

      img {
        max-width: 200px;
      }
    }

    .free-bet-text {
      font-size: 32px;
      font-weight: bold;
      margin: 15px 0;

      @media (max-width: 1024px) {
        line-height: 1;
      }
    }

    .accepting-players {
      font-size: 20px;
      line-height: 27px;
      margin: 0 0 25px;

      i {
        color: green;
        font-size: 23px;
        margin: 0 3px;
        font-weight: bold;
      }

      img {
        display: inline-block;
        vertical-align: text-top;
        max-width: 25px;
        margin: 5px 3px;
        height: auto;
      }
    }

    .free-bet-expiration-time {
      background: #FFF;
      border-radius: 34px;
      padding: 5px 5px 2px;
      font-size: 32px;
      color: #000;
      margin: 20px 0;
    }

    .free-bet-button {
      margin: 15px 0 0;
      padding: 11px 15px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 6px;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;

      &:hover {
        filter: brightness(110%);
      }
    }

    .regulation-text {
      margin: 15px 0 0;
      font-size: 14px;
    }

    ul.countdown {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      text-align: center;
    }

    ul.countdown li {
      display: inline-block;
    }

    ul.countdown li span {
      font-size: 32px;
      font-weight: bold;
      line-height: 32px;
    }

    ul.countdown li.seperator {
      font-size: 32px;
      font-weight: bold;
      line-height: 32px;
      vertical-align: top;
    }

    ul.countdown li p {
      color: #000;
      font-size: 14px;
      text-transform: uppercase;
      margin: -2px 0 0;
    }

    .source {
      width: 405px;
      margin: 0 auto;
      background: #4f5861;
      color: #a7abb1;
      font-weight: bold;
      display: block;
      white-space: pre;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }

  }

  .euro-2020-odds {
    color: #000;
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin: 0 15px 10px;
    padding-inline-start: 0;

    @media (max-width: 1200px) {
      width: 100%;
      margin: 0 0 20px;
    }

    @media (max-width: 1024px) {
      margin: 0;
    }

    .slick-button {
        background: 0 0;
        border: 0;
        width: 60px;

        @media (min-width: 320px) and (max-width: 768px) {
          width: 50px;
        }

        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 1;
        pointer-events: auto;
        -webkit-transition: opacity .3s;
        -o-transition: opacity .3s;
        -moz-transition: opacity .3s;
        transition: opacity .3s;
    }

    .slick-button.left-btn {
        top: 0;
        left: 0;
        z-index: 1;

        @media (min-width: 320px) and (max-width: 768px) {
          top: -10px;
          left: -10px;
        }
    }

    .slick-button.right-btn {
        top: 0;
        right: 0;

        @media (min-width: 320px) and (max-width: 768px) {
          top: -10px;
          right: -10px;
        }
    }

    .slick-button.slick-disabled {
        opacity: 0;
        pointer-events: none;
    }

    .score-collection__content,
    .score-collection__content.results,
    .score-collection__header__content .header-title {
      display: initial;
    }

    .score-collection__content .score-item {
      width: auto;
    }

    .score-collection__content .score-item__content .score-item-home .item-block .item-block-title .title-name,
    .score-collection__content .score-item__content .score-item-away .item-block .item-block-title .title-name {
      /*text-overflow: ellipsis;
      max-width: 100px;*/
      /*white-space: nowrap;*/
      /*overflow: hidden;
      display: block;*/
    }

    .score-collection {
      border: none;
      background: #e1edef;
      margin: 0;
      min-height: 194px;
      max-height: 194px;
      overflow: hidden;

      .score-collection__content .score-item__content .odd-home,
      .score-collection__content .score-item__content .odd-away,
      .score-collection__content .score-item__content .odd-draw {
        width: auto;
      }

      .score-collection__content .score-item__content .score-item-block {
        min-width: 100px;

        @media (max-width: 1400px) {
          width: 40%;
        }
      }

      .score-collection__header__content {
        img {
          display: none;
        }
      }
    }
  }

  .euro-2020-news {
    background: #e1edef;
    min-height: 129px;
    padding: 15px 15px 15px;
    text-align: center;
    border-top: 1px solid #CCC;

    @media (max-width: 1200px) {
      width: 100%;
    }

    .title {
      font-weight: bold;
      font-size: 17px;
      margin: 0 0 5px;
    }

    ul {
      padding: 0;
      margin: 0;
      display: inline-block;
      text-align: left;
    }

    li {
      list-style: none;
      font-size: 17px;

      .posted-on {
        color: #515151;

        &:after {
          content: '\2022';
          margin: 0 5px;
          position: relative;
        }
      }
    }

    a {
      color: #000;
    }
  }
}