.score-collection {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffca28;
  background: #fffde7;

  .score-collection__header__content {
    justify-content: center;
    .score-collection-title {
      flex: none;
      margin-right: 20px;
      @media screen and (max-width: 420px) {
        margin-right: 0;
      }
    }
  }

  // LOADER
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .expand {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #bc0d33;
    color: #fff !important;
    font-size: 18px;
    padding: 8px 26px;
    border: none;
    margin: 10px auto;
    .icon {
      line-height: 1;
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  }

  .loader-block {
    display: flex;
    justify-content: center;
  }

  .loader-input-block {
    justify-content: center;
    align-items: center;
    position: relative;

    .loader-input {
      width: 17px !important;
      height: 17px !important;
      margin: 1px 0 0 !important;
      border: 2px solid #d4d4d4;
      border-top: 2px solid #e41f49;
      position: absolute;
      right: 10px;
    }
  }

  .loader, .loader-input {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid #d4d4d4;
    border-radius: 50%;
    border-top: 3px solid #e41f49;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  .flex-1 {
    flex: 1;
  }

  .d-flex {
    display: flex;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &.schedule-type {
    .score-item-name {
      color: #1d1e1f !important;
    }
  }

  .no-events {
    padding: 12px 16px;
  }

  &:not(.single-page) {
    .score-item.results {
      @media screen and (min-width: 1200px) {
        width: 50%;
      }
    }
  }

  &.single-page {
    .score-item {
      width: 100%;
      &:after {
        border-right: 0 !important;
      }
    }

    @media screen and (min-width: 1200px) {
      margin: 12px -84px;
    }
    border-radius: 0;

    @media screen and (max-width: 670px) {
      margin: 12px -16px;
      width: auto !important;
    }
  }

  &__header {
    width: 100%;

    &__content {
      display: flex;
      padding: 10px 0;
      position: relative;
      justify-content: center;

      @media screen and (max-width: 560px) {
        flex-wrap: wrap;
        .score-collection-title {
          width: auto;
          justify-content: center;
          margin-right:0;
          .header-logo {
            margin: 0 10px 0 10px;
          }
        }
        .flatpickr-date-select {
          margin-right: 0;
          margin-top: 0;
          width: auto;
          input {
            max-width: 170px;
          }
        }
      }
      .flatpickr-date-select {
        margin-right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        .date-previous, .date-next {
          display: flex;
          cursor: pointer;
          color: #c3c3c3;
          font-size: 23px;
          svg {
            width: 20px;
            height: 20px;
          }
          &.date-next {
            padding-left: 6px;
          }
          &.date-previous {
            padding-right: 6px;
          }
        }
        .input-button-datepicker {
          position: absolute;
          height: 100%;
          left: 10px;
          color: black;
          font-size: 19px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 9px;
          border-right: 1px solid #c3c3c3;
          cursor: pointer;
          i {
            color: #7d7d7d;
          }
        }
        input {
          text-align: center;
          font-size: 18px;
          font-weight: normal;
          width: 200px;
          border: 1px solid #c3c3c3;
          height: 36px;
          line-height: 36px;
          max-width: 360px;
          border-radius: 3px;
          background: #fff;
          padding: 8px 8px 8px 43px;
        }
      }

      &:after {
        border-bottom: #dcdddf 1px solid;
        bottom: 0;
        content: '';
        left: 16px;
        position: absolute;
        right: 16px;
      }

      .header-logo {
        max-height: 40px;
        max-width: 60px;
        margin: 0 12px 0 16px;
        &.nba {
          margin-right: 2px;
        }
      }

      .header-title {
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 800;
        letter-spacing: 1px;
        color: #1d1e1f;
        margin: 0;
        display: flex;
        align-items: center;
      }
    }
  }

  p {
    margin-block-end: auto;
    font-family: 'Source Sans Pro', sans-serif !important;
  }

  br {
    display: none;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;

    &.results {
      padding: 0 6px;
      display: flex;
      justify-content: center;
    }

    &:empty {
      margin: 0;
    }

    p:empty {
      display: none;
    }
    .score-item {
      /*border-bottom: 1px solid #CCC;*/

      &:last-child {
        border-bottom: none;
      }

      &.results {
        margin-bottom: 0;
        width: 50%;
        @media screen and (max-width: 768px) {
          width: 100%;
          .item-block {
            flex-direction: row !important;
            &-title {
              order: unset !important;
            }
            &-image {
              width: auto !important;
            }
          }
        }
        .score-item__content {
          padding: 10px 10px;
          .score-item__wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            border: 1px solid #dcdddf;
            background: #ffffff;
            padding: 5px 10px;
            .score-label {
              font-size: 15px;
              font-weight: bold;
              margin-bottom: 4px;
            }
            .score-item-home {
              margin-bottom: 5px;
            }
            .score-item-home, .score-item-away {
              width: 100%;
              color: #66737C;
              font-weight: bold;
              &.winner {
                color: black;
              }
              .title-name {
                margin-left: 0 !important;
                word-spacing: normal;
                justify-content: flex-start !important;
                font-size: 17px;
              }
              .item-block-image {
                margin-right: 10px;
                img {
                  height: 32px;
                  width: 32px;
                }
              }
              .home-score, .away-score {
                font-size: 21px;
              }
            }
          }
        }
      }
    }

    .score-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: all .2s ease-in-out;
      position: relative;
      justify-content: center;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 992px) {
        width: 100%;
      }

      @media screen and (min-width: 768px) {
        &:nth-last-of-type(-n+2):not(:nth-child(even)) {
          &:after {
            border-bottom: 0;
          }
        }
      }

      &:last-child {
        &:after {
          border-bottom: 0;
        }
      }

      &:after {
        border-bottom: #dcdddf 1px dotted;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        bottom: 0;
        z-index: 1;
        display: none !important;
      }

      &:not(.results) {
        &:only-child {
          &:after {
            display: none !important;
          }
        }
        &:nth-child(odd) {
          @media screen and (min-width: 992px) {
            &:after {
              background: none;
              border-right: #dcdddf 1px solid;
              bottom: 0;
              content: '';
              display: block;
              height: auto;
              width: 0;
              position: absolute;
              right: 0;
              top: 0;
              display: none !important;
            }
          }
        }
      }

      &__content {
        padding: 12px 16px;
        position: relative;
        display: flex;
        @media screen and (min-width: 320px) {
          .score-item-away {
            .item-block {
              .item-block-title {
                .title-name {
                  margin-left: 10px !important;
                  justify-content: flex-start !important;
                  text-align: left;
                }
              }
            }
          }
          .score-item-home {
            .item-block {
              .item-block-title {
                .title-name {
                  margin-right: 10px !important;
                  justify-content: flex-end !important;
                  text-align: right;
                }
              }
            }
          }

          .odd {
            margin: 20px 15px 0;
            text-align: center;

            a:link {
              display: block;
              text-decoration: none;
            }

            .bookmaker {
              display: inline-block;
              vertical-align: middle;

              img {
                max-width: 40px;
                vertical-align: middle;
              }
            }

            .odd-text {
              display: inline-block;
              vertical-align: middle;
              margin: 0 0 0 5px;
              line-height: normal;

              .text {
                display: block;
                color: #727272;
                margin: 0 0 5px;
                font-size: 14px;
              }

              .line {
                display: block;
                color: #000;
                font-weight: bold;
                font-size: 16px;
              }

              .text, .line {
                margin: 0;
              }
            }
          }

          .odd-home {
            display: inline-block;
            width: 40%;
            float: right;
          }

          .odd-away {
            display: inline-block;
            width: 40%;
            float: left;
            text-align: left;
          }

          .odd-home,
          .odd-away {
            margin: 15px 5px 0;
          }

          .odd-draw {
            margin: 20px 5px 0;
          }

        }

        @media screen and (min-width: 320px) {
          .score-item-away {
            .item-block-title {
              .title-name {
                margin-right: 10px;
              }
            }
          }
          .score-item-home {
            .item-block-title {
              .title-name {
                margin-left: 10px;
              }
            }
          }
        }

        @media (max-width: 420px) {
          .score-item-away {
            .item-block-title {
              .title-name {
                margin-right: 0 !important;
              }
            }
          }
        }

        @media screen and (max-width: 1920px) {
          .score-item-away {
            .item-block-image {
              display: block;
            }

            .item-block-title {
              .title-name {
                min-height: 42px;
              }
            }
          }

          .odd-draw {
            margin: 22px 5px 0;
          }

          .score-item-home {
            .item-block-image {
              display: block;
            }

            .item-block-title {
              .title-name {
                min-height: 42px;
              }
            }
          }
        }

        @media screen and (min-width: 320px) and (max-width: 768px) {
          .score-item-away {
            .item-block-image {
              display: block;
            }

            .item-block-title {
              .title-name {
                font-size: 16px;
                min-height: 42px;
              }
            }
          }

          .odd-draw {
            margin: 22px 5px 0;
          }

          .score-item-home {
            .item-block-image {
              display: block;
            }

            .item-block-title {
              .title-name {
                font-size: 16px;
                min-height: 42px;
                margin-left: 10px;
                @media (max-width: 420px) {
                  margin-left: 0;
                }
              }
            }
          }
        }

        @media screen and (max-width: 420px) {
          .score-item-away, .score-item-home {
            .item-block-title {
              .title-name {
                font-size: 14px !important;
              }
            }
          }
        }

        .score-item-home, .score-item-away {
          width: 40%;
          text-align: center;
          min-width: 100px;

          .item-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /*height: 100%;*/
            @media screen and (max-width: 320px) {
              flex-direction: column;
              &-title {
                order: -1;
              }
              &-image {
                height: auto !important;
                align-items: flex-end;
              }
              &-title, &-image {
                width: 100%;
                justify-content: center;
              }
            }

            &-title {
              flex: 1;

              .title-name {
                height: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
                font-size: 17px;
                font-weight: bold;
                @media screen and (max-width: 1200px) {
                  word-spacing: 100vw;
                }
              }
            }

            &-image {
              text-align: center;
              height: 100%;
              display: flex;
              align-items: center;

              img {
                width: 38px;
                height: 38px;
                object-fit: contain;
                min-width: 30px;
                @media (max-width: 420px) {
                  height: 25px !important;
                  width: 25px !important;
                  min-width: 25px;
                }
              }
            }
          }
        }

        .score-item-block {
          width: 20%;
          margin: 0 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @media (max-width: 420px) {
            min-width: 65px;
          }

          .home-score {
            &:empty {
              display: none;
            }
            margin-right: 10px;
          }

          .home-score, .away-score, .time-block {
            font-size: 26px;
            font-weight: bolder;
            line-height: normal;

            &.winner {
              color: #e41f49;
            }
          }
        }

      }
    }
  }
}

